<!DOCTYPE html>
<html>

<head>
    <style> 
       

        .completed {
            text-decoration: line-through;
            font-style: italic;
            background-color: #d3f4cb; 
            color: #4caf50; 

        li.completed:hover {
    transform: scale(1);  
}


        }
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #ffcccb; 
            color: #333;
            margin: 20px;
            text-align: center;
        }

        h1 {
            color: #ff69b4; 
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #ea6692; 
            margin: 10px 0;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
            position: relative;
        }

        li:hover {
            transform: scale(1.05);
        }

        form {
            margin-top: 20px;
        }

        input[name='new_todo'] {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            width: 200px;
            margin-right: 10px;
        }

        input[type='submit'] {
            background-color: #ff1493; 
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type='submit']:hover {
            background-color: #ff007f; 
        } 

        input[name='new_todo'] {
    padding: 10px;
    border: 1px solid #ff007f; 
    border-radius: 4px;
    width: 200px;
    margin-right: 10px;
    background-color: #ffc0cb; 
    color: #333; 
}

    </style>
</head> 

<body>
<h1>Welcome To Kahlil Todo List 🌸🌸 </h1>
    <ul>
        {% for todo in todos %}
            <li class="{% if todo['completions']%}completed{% endif %}">
                {% if todo['completions'] %}✔️{% endif %}
                {{ todo.description }}
                <form method="POST" action="/delete_todos/{{ todo['id'] }}">
                    <input type="submit" value="Delete">
                </form>
                {%if todo['completions'] == 0%}
                <form method="POST" action="/complete_todos/{{ todo['id'] }}">
                    <input type="submit" value="Completed">
                </form>
                {%endif%}
            </li>
        {% endfor %}
    </ul>
    <form method='post'>
        <input name='new_todo' placeholder='Add a new todo'>
        <input type='submit' value='Add Todo'>
    </form>
</body>

</html>
